name: secure_upload
description: Encrypt and Upload File to a Cloud Storage Provider

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.0.1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # google drive
  googleapis: '>=0.54.0'

  # google drive
  googleapis_auth: any

  # http/https client
  http: any

  # secure storage
  flutter_secure_storage: ^3.2.1+1

  # oauth (dropbox/onedrive)
  oauth2: ^1.3.0

  # handle permission
  permission_handler: any

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

  # store shared preferences
  shared_preferences: ^0.5.3+4

  # open urls
  url_launcher: ^5.1.2

  # share button
  share: ^0.6.2+1

  # get App directories
  path_provider: ^1.2.0

  # ffi for libsodium
  libsodium:
    path: packages/libsodium

  # archive to create zip files
  archive: ^2.0.10

  # String validation and sanitization for Dart.
  validators: ^2.0.0

  # A package that allows you to use a native file explorer to pick single or multiple absolute file
  # paths, with extensions filtering support.
  file_picker: ^1.4.0+1

  # open files with default program
  open_file: ^2.0.3

  # open app again (open app again after user entered cloud credentials)
  device_apps: ^1.0.8

  # QR.Flutter is a Flutter library for simple and fast QR code rendering via a Widget or custom
  # painter.
  qr_flutter: ^3.0.1

  # QR code scanner that can be embedded inside flutter. It uses zxing in
  # Android and MTBBarcode scanner in iOS.
  qr_code_scanner: ^0.0.12

  #Package to use custom app launcher icons.
  flutter_launcher_icons: ^0.7.2+1

dev_dependencies:
  flutter_test:
    sdk: flutter

  #Additional Package for flutter_launcher_icons. To Use: Set the path to your App Icon image and run
  #flutter pub pub run flutter_launcher_icons:main
flutter_icons:
  android: "app_icon"
  ios: true
  image_path: "assets/icons/app_icon.png"
  adaptive_icon_background: "#00ABC1"
  adaptive_icon_foreground: "assets/icons/adaptive_icon.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icons/app_icon.png
    - assets/icons/adaptive_icon.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

  fonts:
    - family: qrcode_scanner
      fonts:
        - asset: assets/fonts/qrcode_scanner.ttf
